@charset "UTF-8";

    body {
        background-color: rgb(229, 225, 142); font-family: Arial, Helvetica, sans-serif; font-size: 20px;
    }
    h1 {
        color: rgb(163, 225, 183); background-color: rgb(243, 100, 100);
    }
    h2 {
        color: darkred;
    }
    p {
        text-align: justify;
    }